// 重置浏览器默认样式
@import 'normalize.css/normalize.css';

@import '@/assets/styles/nprogress.scss';

// 字体
@import './front.css';

html {
  height: 100%;
}

body {
  height: 100%;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
